::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
  border-left: 1px solid var(--color-primary);
}

:focus,
:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-outline);
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

::selection {
  color: var(--color-selection-text);

  background-color: var(--color-selection-bg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: var(--color-primary);

  background-color: var(--color-secondary);
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
